
.welcome{
    
    background-color: #F0A500;
    width: 45rem;
    margin-left: 1rem;
    
    height: 40rem;
}

.navbar .form-inline input{
    width: 20rem; margin-left: 40rem; box-shadow: inset 0 0 10px #F0A500;
}


.welcome h1{
    font-family: 'Balsamiq Sans', cursive;
    font-size: 3rem;
    text-transform: capitalize;
    margin-top: 10rem;
    
    margin-left: 5.5rem;
}

.welcome h4{
    font-size: .6rem;
    margin-left: 5.5rem;
    margin-bottom: 7rem;
}

.welcome p{
    font-size: 1.5rem;
    margin-left: 5.5rem;
    width: 15rem;
    text-align: left;
}

.curve{
    position: relative;
    
}

.curve svg{
    
        display: inline-block;
        position: absolute;
        top: 15.56rem;
      
    margin-left: -16.6rem;
    width: 40rem;
    
    transform: rotate(90deg);
}

.icons{
    margin-top: 1rem;
    margin-left: 1rem;
    display: inline-flex;
}

.icon{
    align-content: center;
    margin: 0 auto;
padding: 1rem 1.3rem ;
}
.icon i{
    left: 1rem;
}
.icon p{
    text-transform: capitalize;
    font-size: .6rem;
    letter-spacing: .1rem;
    text-align: center;
}

.image .next{
    margin-top: 15rem;
    margin-left: 25rem;
}

.image .prev{
    margin-left: -15rem;
   margin-top: -1rem;
}

.bar img{
    width: 20rem;
    height: 20rem;
    margin-top: -10rem;
    margin-left: -4rem;
    border-radius: 50%;
    box-shadow: .2rem .3rem .6rem gray;
}


@media (max-device-width:50rem) {
    .navbar .form-inline input{
     
        width: 18rem; 
        margin-left: 4rem;
    }
    .icons{
        margin-top: .2rem;
    }
    .welcome{
        width: 37.2rem;
    }
    .curve svg{
        top: -1.2rem;
        margin-left: 0rem;
        width: 37.2rem;
        transform: rotate(180deg);

    }
    .photo .bar .navbar{
        margin-top: 4rem;
        margin-left: 2rem;
    }
}
